/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "documents";

.login-page, .register-page {
  align-items: center;
  background: #e9ecef;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-box, .register-box {
  width: 360px;
}

.login-logo, .register-logo {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: .9rem;
  text-align: center;
}

.login-card-body, .register-card-body {
  background: #fff;
  border-top: 0;
  color: #666;
  padding: 20px;
}

.container {
  text-align: center;
}
.inner {
  display: block;
  text-align: left;
}